<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
body{
  margin: 0
}
</style>
</head>
<body>
<ul class="dropdown-menu">
   <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>
  <li><a class="dropdown-item" href="/retrieveForms">Retrieve feedback</a></li>
 <!--<li><a class="dropdown-item" href="/retrieveCustomers">Update credentials</a></li>-->
</ul>
</body>
</html>