{% extends "base2.html" %}
{% block title %}Library Loan System - Retrieve Customers{% endblock %}
{% block content %}
<h1 class="display-4">Staff credentials</h1>
<div><a href='/navbar2'><button>back to homepage</button></a></div>
<div><a href='/retrieveForms'><button>retrieve feedback</button></a></div>
<div>
 {% if count == 0 %}
 <p>There are no logged in staff</p>
 {% elif count == 1 %}
 <p>There is 1 </p>
 {% else %}
 <p>There are {{ count }} staff who logged in</p>
 {% endif %}
</div>

<div>
 <table class="table table-striped">
  <thead>
   <tr>
    <!--<th>User ID</th>-->
    <th>Staff Num</th>
    <th>Username</th>
    <th>Password</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Date Joined</th>
    <th>Staff ID</th>
    <!--<th>Membership</th>-->
    <th>Remarks</th>
    <th></th>
    <th></th>
   </tr>
  </thead>
  <tbody>
   {% for customer in customers_list %}
    <tr>
     <td>{{ customer.get_customer_id() }}</td>
     <td>{{ customer.get_first_name() }}</td>
     <td>{{ customer.get_last_name() }}</td>
     <td>{{ customer.get_gender() }}</td>
     <td>{{ customer.get_email() }}</td>
     <td>{{ customer.get_date_joined() }}</td>
     <td>{{ customer.get_address() }}</td>
    <!--{% if customer.get_membership() == "F" %}
     <td>Fellow</td>
    {% elif customer.get_membership() == "S" %}
     <td>Senior</td>
    {% elif customer.get_membership() == "P" %}
     <td>Professional</td>
    {% endif %}-->
     <td>{{ customer.get_remarks() }}</td>
     <td><a href="/updateCustomer/{{customer.get_user_id()}}" class="btn btn-warning">Update</a></td>
     <td>
       <form action="{{url_for('delete_customer', id=customer.get_user_id())}}" method="POST">
       <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{customer.get_user_id()}}">delete
       </button>


<!-- The Modal -->
       <div class="modal" id="myModal_{{customer.get_user_id()}}">
        <div class="modal-dialog">
         <div class="modal-content">

      <!-- Modal Header -->
         <div class="modal-header">
          <h4 class="modal-title">delete Confirmation</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
         </div>

      <!-- Modal body -->
         <div class="modal-body">
           Are you sure you want to delete? {{customer.get_first_name()}} {{customer.get_last_name()}}?
         </div>

      <!-- Modal footer -->
         <div class="modal-footer">
          <input type="submit" value="Delete" class="btn btn-danger">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         </div>

         </div>
        </div>
       </div>
      </form>
     </td>
    </tr>
{% endfor %}
  </tbody>
 </table>
</div>
{% endblock %}