{% extends "base2.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}
{% block content %}
<h1 class="display-4">Retrieve Feedback</h1>
<div><a href='/navbar2'><button>back to homepage</button></a></div>
<!--<div><a href='/retrieveCustomers'><button>Staff credentials</button></a></div>-->
<div>
 {% if count == 0 %}
 <p>There is no Feedback.</p>
 {% elif count == 1 %}
 <p>There is 1 case of feedback.</p>
 {% else %}
 <p>There are {{ count }} feedbacks.</p>
 {% endif %}
</div>
<div>
 <table class="table table-striped">
  <thead>
   <tr>
    <th>User ID</th>
    <th>name</th>
    <th>phone number</th>
    <th>email</th>
    <th>Remarks</th>
    <th></th>
    <th></th>
    <th></th>
   </tr>
  </thead>
  <tbody>
   {% for form in forms_list %}
    <tr>
     <td>{{ form.get_user_id() }}</td>
     <td>{{ form.get_first_name() }}</td>
     <td>{{ form.get_last_name() }}</td>
     <td>{{ form.get_gender() }}</td>
     <td>{{ form.get_remarks() }}</td>
     <!--{% if form.get_membership() == "F" %}
     <td>Fellow</td>
     {% elif form.get_membership() == "S" %}
     <td>Senior</td>
     {% elif form.get_membership() == "P" %}
     <td>Professional</td>
     {% endif %}-->
     <td>
      <form action="{{url_for('delete_form', id=form.get_user_id())}}" method="POST">
       <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{form.get_user_id()}}">
        DELETE
       </button>

<!-- The Modal -->
       <div class="modal" id="myModal_{{form.get_user_id()}}">
        <div class="modal-dialog">
         <div class="modal-content">

      <!-- Modal Header -->
         <div class="modal-header">
          <h4 class="modal-title">DELETE Confirmation</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
         </div>

      <!-- Modal body -->
         <div class="modal-body">
           Are you sure you want to delete {{form.get_first_name()}} {{form.get_last_name()}}?
         </div>

      <!-- Modal footer -->
         <div class="modal-footer">
          <input type="submit" value="Delete" class="btn btn-danger">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         </div>

         </div>
        </div>
       </div>
      </form>
     </td>
    </tr>
{% endfor %}
  </tbody>
 </table>
</div>
{% endblock %}